    <type>STANDARD</type>
    <stack-id>HDF-{{ hdf_minor_version }}</stack-id>
    <version>{{ hdf_version }}</version>
    <build>{{ hdf_build_number }}</build>
    <compatible-with>3\.[0-1]\.\d+\.\d+</compatible-with>
    <release-notes>http://example.com</release-notes>
    <display>HDF-{{ hdf_version }}</display>

