<?xml version="1.0"?>
<repository-version xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="version_definition.xsd">
  <release>
{% include 'vdf-HDF-part-release.j2' %}
  </release>
  <manifest>
    <service id="NIFI-170" name="NIFI" version="1.7.0"/>
    <service id="REGISTRY-053" name="REGISTRY" version="0.5.3"/>
    <service id="RANGER-110" name="RANGER" version="1.1.0"/>
    <service id="RANGER_KMS-110" name="RANGER_KMS" version="1.1.0"/>
    <service id="ZOOKEEPER-346" name="ZOOKEEPER" version="3.4.6"/>
    <service id="STORM-121" name="STORM" version="1.2.1"/>
    <service id="STREAMLINE-060" name="STREAMLINE" version="0.6.0"/>
    <service id="KNOX-100" name="KNOX" version="1.0.0"/>
    <service id="NIFI_REGISTRY-020" name="NIFI_REGISTRY" version="0.2.0"/>
    <service id="KAFKA-111" name="KAFKA" version="1.1.1"/>
    <service id="MINIFI-050" name="MINIFI" version="0.5.0"/>
  </manifest>
  <available-services/>
  <repository-info>
{% include 'vdf-HDF-part-repository-info.j2' %}
  </repository-info>
</repository-version>
