    <os family="{{ baseurl_os_family }}">
      <package-version>{{ hdp_version|replace('-','_') }}_*</package-version>
      <repo>
        <baseurl>http://{{ hostvars[groups['basebox'][0]].ansible_host }}/yum/tcri/</baseurl>
        <repoid>HDP-{{ hdp_minor_version }}</repoid>
        <reponame>HDP</reponame>
        <unique>true</unique>
      </repo>
{% if install_hdf|default(false) %}
      <repo>
        <baseurl>http://{{ hostvars[groups['basebox'][0]].ansible_host }}/yum/tcri/</baseurl>
        <repoid>HDF-{{ hdf_minor_version }}</repoid>
        <reponame>HDF</reponame>
        <unique>true</unique>
      </repo>
{% endif %}
{% if install_hdpsearch|default(false) %}
      <repo>
        <baseurl>http://{{ hostvars[groups['basebox'][0]].ansible_host }}/yum/tcri/</baseurl>
        <repoid>HDP-SOLR-{{ hdpsearch_version }}-{{ hdpsearch_build_number }}</repoid>
        <reponame>HDP-SOLR</reponame>
        <unique>true</unique>
      </repo>
{% endif %}
{% if hdp_version is version_compare('2.6.4.0', '>=') %}
      <repo>
        <baseurl>http://{{ hostvars[groups['basebox'][0]].ansible_host }}/yum/tcri/</baseurl>
        <repoid>HDP-{{ hdp_minor_version }}-GPL</repoid>
        <reponame>HDP-GPL</reponame>
        <unique>true</unique>
        <tags>
          <tag>GPL</tag>
        </tags>
      </repo>
{% endif %}
      <repo>
        <baseurl>http://{{ hostvars[groups['basebox'][0]].ansible_host }}/yum/tcri/</baseurl>
        <repoid>HDP-UTILS-{{ utils_version }}</repoid>
        <reponame>HDP-UTILS</reponame>
        <unique>false</unique>
      </repo>
    </os>

