    <os family="{{ baseurl_os_family }}">
      <package-version>{{ hdf_version|replace('-','_') }}_*</package-version>
      <repo>
        <baseurl>http://{{ hostvars[groups['basebox'][0]].ansible_host }}/yum/tcri/</baseurl>
        <repoid>HDF-{{ hdf_minor_version }}</repoid>
        <reponame>HDF</reponame>
        <unique>true</unique>
      </repo>
      <repo>
        <baseurl>http://{{ hostvars[groups['basebox'][0]].ansible_host }}/yum/tcri/</baseurl>
        <repoid>HDP-UTILS-{{ utils_version }}</repoid>
        <reponame>HDP-UTILS</reponame>
        <unique>false</unique>
      </repo>
    </os>
