    <os family="{{ baseurl_os_family }}">
      <package-version>{{ hdp_version|replace('-','_') }}_*</package-version>
      <repo>
        <baseurl>{{ hdp_main_repo_url }}</baseurl>
        <repoid>{{ hdp_main_repo_name }}</repoid>
        <reponame>HDP</reponame>
        <unique>false</unique>
      </repo>
{% if install_hdf|default(false) %}
      <repo>
        <baseurl>{{ hdf_main_repo_url }}</baseurl>
        <repoid>{{ hdf_main_repo_name }}</repoid>
        <reponame>HDF</reponame>
        <unique>false</unique>
      </repo>
{% endif %}
{% if install_hdpsearch|default(false) and hdpsearch_main_repo_url is defined %}
      <repo>
        <baseurl>{{ hdpsearch_main_repo_url }}</baseurl>
        <repoid>{{ hdpsearch_main_repo_url }}</repoid>
        <reponame>HDP-SOLR</reponame>
        <unique>false</unique>
      </repo>
{% endif %}
{% if hdp_version is version_compare('2.6.4.0', '>=') %}
      <repo>
        <baseurl>{{ gpl_repo_url }}</baseurl>
        <repoid>{{ gpl_repo_name }}</repoid>
        <reponame>HDP-GPL</reponame>
        <unique>false</unique>
        <tags>
          <tag>GPL</tag>
        </tags>
      </repo>
{% endif %}
      <repo>
        <baseurl>{{ utils_repo_url }}</baseurl>
        <repoid>{{ utils_repo_name }}</repoid>
        <reponame>HDP-UTILS</reponame>
        <unique>false</unique>
      </repo>
    </os>

