---
- name: Load variables
  include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_os_family|lower }}-{{ ansible_distribution|lower }}-{{ ansible_distribution_major_version }}.yml"
        - "{{ ansible_os_family|lower }}-{{ ansible_distribution|lower }}.yml"
        - "{{ ansible_os_family|lower }}-{{ ansible_distribution_major_version }}.yml"
        - "{{ ansible_os_family|lower }}.yml"
        - defaults.yml
      paths:
        - ../vars

- name: Install the Kerberos client package
  package:
    name: "{{ item }}"
    update_cache: yes
    state: present
  with_items: "{{ kerberos_client_package }}"

- name: Upload the krb5.conf file
  template:
    src: krb5.conf.j2
    dest: /etc/krb5.conf
    mode: 0644
    force: yes
