---
- name: Build the Cloud Environment
  hosts: localhost
  connection: local
  gather_facts: False
  tasks:
    - name: Build Openstack Nodes
      include_tasks: build_openstack_nodes.yml
      when: item.count > 0
      with_items: "{{ nodes }}"
