[libdefaults]
default_realm = {{ security_options.realm | upper }}

[realms]
    {{ security_options.realm | upper }} = {
        kdc = {{ ansible_nodename }}
        admin_server = {{ ansible_nodename }}
    }
