[libdefaults]
    default_realm = {{ security_options.realm | upper }}
    default_ccache_name = /tmp/krb5cc_%{uid}
[realms]
    {{ security_options.realm | upper }} = {
        kdc = {{ ansible_fqdn }}
        admin_server = {{ ansible_fqdn }}
    }
[logging]
    kdc = FILE:/var/log/krb5/krb5kdc.log
    admin_server = FILE:/var/log/krb5/kadmind.log
    default = SYSLOG:NOTICE:DAEMON
