deb {{ mysql_repo_url }} {{ ansible_lsb.codename }} mysql-apt-config
deb {{ mysql_repo_url }} {{ ansible_lsb.codename }} mysql-5.6
deb {{ mysql_repo_url }} {{ ansible_lsb.codename }} mysql-tools
deb-src {{ mysql_repo_url }} {{ ansible_lsb.codename }} mysql-5.6
