---
- name: Create the required Ansible groups
  hosts: localhost
  connection: local
  gather_facts: False
  tasks:
    - name: Add the nodes to hadoop-cluster and role specific groups
      include_tasks: "clouds/add_nodes_{{ cloud_name }}.yml"
      with_items: "{{ nodes|default(omit) }}"

- name: Create the Ansible helper variables for all nodes
  hosts: hadoop-cluster
  gather_facts: False
  tasks:
    - name: Check if /usr/bin/python exists
      raw: bash -c "test -e /usr/bin/python && echo -n exists || echo -n"
      register: default_python2_path

    - name: Check if /usr/bin/python3 exists
      raw: bash -c "test -e /usr/bin/python3 && echo -n exists || echo -n"
      register: default_python3_path
      when: default_python2_path.stdout == ""

    - name: Fail if no standard python path could be found
      fail:
        msg: "Python could not be found at /usr/bin/python or /usr/bin/python3. If using a custom python path, set the 'ansible_python_interpreter' inventory variable to the valid path for your environment."
      when: default_python2_path.stdout == "" and default_python3_path.stdout != "exists"

    - name: Set the ansible_python_interpreter to /usr/bin/python3
      set_fact:
        ansible_python_interpreter: "/usr/bin/python3"
      when: default_python3_path.stdout is defined and default_python3_path.stdout == "exists"

- name: Create the Ansible helper variables for the ambari-server
  hosts: ambari-server
  gather_facts: False
  tasks:
    - name: Initialize the control variables
      set_fact:
        namenode_groups: []
        zkfc_groups: []
        resourcemanager_groups: []
        journalnode_groups: []
        zookeeper_groups: []
        zookeeper_hosts: []
        hiveserver_hosts: []
        oozie_hosts: []
        rangeradmin_groups: []
        rangeradmin_hosts: []
        streamline_hosts: []
        registry_hosts: []
        hdf_hosts: []
        solr_hosts: []
        blueprint_all_services: []
        blueprint_all_clients: []
        install_hdp: False
        install_hdf: False
        install_hdpsearch: False
      no_log: True

    - block:
        - name: Populate the namenode groups list
          set_fact:
            namenode_groups: "{{ namenode_groups }} + [ '{{ item.role }}' ]"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and 'NAMENODE' in item.services
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the ZKFailoverController groups list
          set_fact:
            zkfc_groups: "{{ zkfc_groups }} + [ '{{ item.role }}' ]"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and 'ZKFC' in item.services
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the resourcemanager groups list
          set_fact:
            resourcemanager_groups: "{{ resourcemanager_groups }} + [ '{{ item.role }}' ]"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and 'RESOURCEMANAGER' in item.services
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the journalnode groups list
          set_fact:
            journalnode_groups: "{{ journalnode_groups }} + [ '{{ item.role }}' ]"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and 'JOURNALNODE' in item.services
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the zookeeper groups list
          set_fact:
            zookeeper_groups: "{{ zookeeper_groups }} + [ '{{ item.role }}' ]"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and 'ZOOKEEPER_SERVER' in item.services
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the zookeeper hosts list
          set_fact:
            zookeeper_hosts: "{{ zookeeper_hosts }} + {{ groups[item.role] }}"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and 'ZOOKEEPER_SERVER' in item.services
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the hiveserver hosts list
          set_fact:
            hiveserver_hosts: "{{ hiveserver_hosts }} + {{ groups[item.role] }}"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and ('HIVE_SERVER' in item.services or 'HIVE_METASTORE' in item.services)
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the oozie hosts list
          set_fact:
            oozie_hosts: "{{ oozie_hosts }} + {{ groups[item.role] }}"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and ('OOZIE_SERVER' in item.services)
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the rangeradmin groups list
          set_fact:
            rangeradmin_groups: "{{ rangeradmin_groups }} + [ '{{ item.role }}' ]"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and ('RANGER_ADMIN' in item.services)
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the rangeradmin hosts list
          set_fact:
            rangeradmin_hosts: "{{ rangeradmin_hosts }} + {{ groups[item.role] }}"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and ('RANGER_ADMIN' in item.services)
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the streamline hosts list
          set_fact:
            streamline_hosts: "{{ streamline_hosts }} + {{ groups[item.role] }}"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and ('STREAMLINE_SERVER' in item.services)
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the registry hosts list
          set_fact:
            registry_hosts: "{{ registry_hosts }} + {{ groups[item.role] }}"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and ('REGISTRY_SERVER' in item.services)
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the hdf hosts list
          set_fact:
            hdf_hosts: "{{ hdf_hosts }} + {{ groups[item.role] }}"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and ('NIFI_MASTER' in item.services or 'STREAMLINE_SERVER' in item.services or 'REGISTRY_SERVER' in item.services)
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the solr hosts list
          set_fact:
            solr_hosts: "{{ solr_hosts }} + {{ groups[item.role] }}"
          when: groups[item.role] is defined and groups[item.role]|length > 0 and ('SOLR_SERVER' in item.services)
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Populate the all services and clients lists
          set_fact:
            blueprint_all_services: "{{ blueprint_all_services | union(item.services) }}"
            blueprint_all_clients: "{{ blueprint_all_clients | union(item.clients) }}"
          when: groups[item.role] is defined and groups[item.role]|length > 0
          with_items: "{{ hostvars[groups['ambari-server']|sort|list|first]['blueprint_dynamic'] }}"
          no_log: True

        - name: Set the install_hdp variable
          set_fact:
            install_hdp: True
          when: namenode_groups|length > 0

        - name: Set the install_hdf variable
          set_fact:
            install_hdf: True
          when: hdf_hosts|length > 0

        - name: Set the install_hdpsearch variable
          set_fact:
            install_hdpsearch: True
          when: solr_hosts|length > 0
      when: hostvars[inventory_hostname]['blueprint_file'] == 'blueprint_dynamic.j2'

    - block:
        - name: Set the blueprint path (relative to ambari-blueprint role)
          set_fact:
            blueprint_file_path: "{{ 'roles/ambari-blueprint/templates/' + blueprint_file }}"
          when: blueprint_file|list|first != '/' and blueprint_file|list|first != '~'

        - name: Set the blueprint path (absolute)
          set_fact:
            blueprint_file_path: "{{ blueprint_file }}"
          when: blueprint_file|list|first == '/' or blueprint_file|list|first == '~'

        - name: Read the blueprint content
          set_fact:
            blueprint_content: "{{ lookup('file', blueprint_file_path) }}"

        - name: Set the install_hdp variable
          set_fact:
            install_hdp: True
          when: blueprint_content | string | search("NAMENODE")

        - name: Set the install_hdf variable
          set_fact:
            install_hdf: True
          when: blueprint_content | string | search("NIFI_MASTER") or blueprint_content | string | search("STREAMLINE_SERVER") or blueprint_content | string | search("REGISTRY_SERVER")

        - name: Set the install_hdpsearch variable
          set_fact:
            install_hdpsearch: True
          when: blueprint_content | string | search("SOLR_SERVER")
      when: hostvars[inventory_hostname]['blueprint_file'] != 'blueprint_dynamic.j2'
